@using ShoppingProject.Utilities.Enums
@model ShoppingProject.Web.Models.Home.HomeIndexModel

@{ ViewData["Title"] = "Chỉnh sửa trang chủ";
    Layout = "_AdminLayout"; }

<div class="container-fluid">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/Admin" data-original-title="" title="">
                <i class="icofont-home"></i> Bảng điều khiển
            </a>
        </li>
        <li class="breadcrumb-item">
            <a asp-action="Index" data-original-title="" title="">
                Chỉnh sửa trang
            </a>
        </li>
        <li class="breadcrumb-item active">@ViewData["Title"]</li>
    </ol>
</div>

<form asp-action="Create" id="settingAdmin">
    <div class="container-fluid">
        <section id="area1" class="bg-dark py-4">
            <div class="container">
                <div class="card">
                    <div class="card-header">
                        <h5>Album</h5>
                    </div>
                    <div class="card-body">
                        <div id="albumPreview" class="row">
                            @if (Model.Slider.Count > 0)
                            {
                                foreach (var item in Model.Slider)
                                {
                                    <div class="col-md-4">
                                        <div class="image-box ratio-4-3">
                                            <img src="@item.Image" class="pre-img img-fluid image">
                                        </div>
                                        <input id='selectImage' name='selectImage' class="slider-input" value='@item.Image' type='hidden' />
                                    </div>
                                }
                            }
                        </div>
                        <label id="selectAlbum" class="control-label btn btn-primary btn-block mt-2">Chọn nhiều hình làm slider</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-12">
                        <div class="card card-absolute setting-input" data-id="@((int)SettingKey.HomeSection1Content1)">
                            <div class="card-header bg-dark-light">
                                <input type="text" class="form-control title" value="@Model.Setting.Where(a=>a.Id == SettingKey.HomeSection1Content1).FirstOrDefault().Title" />
                            </div>
                            <div class="card-body pricingtable">
                                <textarea rows="6" class="form-control mt-2 content">@Model.Setting.Where(a=>a.Id == SettingKey.HomeSection1Content1).FirstOrDefault().Content</textarea>
                                <p class="text-dark"></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-12">
                        <div class="card card-absolute setting-input" data-id="@((int)SettingKey.HomeSection1Content2)">
                            <div class="card-header bg-dark-light">
                                <input type="text" class="form-control title" value="@Model.Setting.Where(a=>a.Id == SettingKey.HomeSection1Content2).FirstOrDefault().Title" />
                            </div>
                            <div class="card-body pricingtable">
                                <textarea rows="6" class="form-control mt-2 content">@Model.Setting.Where(a=>a.Id == SettingKey.HomeSection1Content2).FirstOrDefault().Content</textarea>
                                <p class="text-dark"></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-12">
                        <div class="card card-absolute setting-input" data-id="@((int)SettingKey.HomeSection1Content3)">
                            <div class="card-header bg-dark-light">
                                <input type="text" class="form-control title" value="@Model.Setting.Where(a=>a.Id == SettingKey.HomeSection1Content3).FirstOrDefault().Title" />
                            </div>
                            <div class="card-body pricingtable">
                                <textarea class="form-control mt-2 content">@Model.Setting.Where(a=>a.Id == SettingKey.HomeSection1Content3).FirstOrDefault().Content</textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="area2" class="bg-dark py-4">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-5 col-12 setting-input" data-id="@((int)SettingKey.HomeSection1ContentMain)">
                        <input type="text" class="form-control title" value="@Model.Setting.Where(a=>a.Id == SettingKey.HomeSection1ContentMain).FirstOrDefault().Title" />
                    </div>
                    <div class="col-md-7 col-12">
                        <div class="card card-absolute mb-5 setting-input" data-id="@SettingKey.HomeSection1Content4.ToString()">
                            <div class="card-header bg-dark-light">
                                <input type="text" class="form-control title" value="@Model.Setting.Where(a=>a.Id == SettingKey.HomeSection1Content4).FirstOrDefault().Title" />
                            </div>
                            <div class="card-body pricingtable">
                                <textarea class="form-control mt-2 content">@Model.Setting.Where(a=>a.Id == SettingKey.HomeSection1Content4).FirstOrDefault().Content</textarea>
                            </div>
                        </div>
                        <div class="card card-absolute mb-5 setting-input" data-id="@((int)SettingKey.HomeSection1Content5)">
                            <div class="card-header bg-dark-light">
                                <input type="text" class="form-control title" value="@Model.Setting.Where(a=>a.Id == SettingKey.HomeSection1Content5).FirstOrDefault().Title" />
                            </div>
                            <div class="card-body pricingtable">
                                <textarea class="form-control mt-2 content">@Model.Setting.Where(a=>a.Id == SettingKey.HomeSection1Content5).FirstOrDefault().Content</textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="area3" class="bg-dark-2 py-5">
            <div class="container">
                <div class="px-5">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <h2 class="text-white text-center"></h2>
                        </div>
                        <div class="col-md-4">
                            <div class="usp-img">

                            </div>
                            <div class="usp-content">

                            </div>
                        </div>
                        <div class="col-md-4">a</div>
                        <div class="col-md-4">a</div>
                        <div class="col-md-4">
                            <img src="~/images/img_tinhchatkhac copy.png" class="w-100" />
                        </div>
                        <div class="col-md-4">a</div>
                        <div class="col-md-4">a</div>
                        <div class="col-md-4">a</div>
                        <div class="col-md-4">a</div>
                    </div>
                </div>
            </div>
        </section>
        <section id="area4" class="bg-dark py-5">
            <div class="container">
                <div class="row align-items-center setting-input" data-id="@((int)SettingKey.HomeSection2)">
                    <div class="col-md-7">
                        <img src="~/images/2.jpg" class="w-100" />
                    </div>
                    <div class="col-md-5">
                        <input type="text" class="form-control title" value="@Model.Setting.Where(a=>a.Id == SettingKey.HomeSection2).FirstOrDefault().Title" />
                        <hr class="w-25 border-white" />
                        <textarea class="form-control mt-2 content" id="HomeSection2Textarea">@Model.Setting.Where(a=>a.Id == SettingKey.HomeSection2).FirstOrDefault().Content</textarea>
                    </div>
                </div>
            </div>
        </section>

        <section id="area5" class="bg-dark-2 py-5">
            <div class="container">
                <div class="row align-items-center setting-input" data-id="@((int)SettingKey.HomeSection3)">
                    <div class="col-md-5">
                        <input type="text" class="form-control title" value="@Model.Setting.Where(a=>a.Id == SettingKey.HomeSection3).FirstOrDefault().Title" />
                        <hr class="w-25 border-white" />
                        <textarea class="form-control mt-2 content" id="HomeSection3Textarea">@Html.Raw(Model.Setting.Where(a=>a.Id == SettingKey.HomeSection3).FirstOrDefault().Content)</textarea>
                    </div>
                    <div class="col-md-7">
                        <img src="~/images/2.jpg" class="w-100" />
                    </div>
                </div>
            </div>
        </section>
        <section id="area6" class="bg-white py-5">
            <div class="container py-4 text-center">
                <div class="row align-items-center setting-input" data-id="@((int)SettingKey.HomeSection4)">
                    <div class="col-md-4">
                        <img src="~/images/img_tinhchatkhac copy.png" class="w-100" />
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="form-control title" value="@Model.Setting.Where(a=>a.Id == SettingKey.HomeSection4).FirstOrDefault().Title" />
                        <textarea class="form-control mt-2 content">@Html.Raw(Model.Setting.Where(a=>a.Id == SettingKey.HomeSection4).FirstOrDefault().Content)</textarea>
                        <p class="mt-3 mb-0">Link sản phẩm</p>
                        <input type="text" class="form-control link" value="@Model.Setting.Where(a=>a.Id == SettingKey.HomeSection4).FirstOrDefault().Link" />
                    </div>
                </div>
            </div>
        </section>
    </div>
</form>
<button class="btn btn-success position-fixed" id="btnUpdate" style="top: 100px; right: 15px; z-index: 9999">Cập nhật</button>


@section scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @await Html.PartialAsync("_SummernotePartial", new { height = 400, selector = "#HomeSection2Textarea" })
    @await Html.PartialAsync("_SummernotePartial", new { height = 400, selector = "#HomeSection3Textarea" })
    @await Html.PartialAsync("_ImagePartial")
    <script type="text/javascript">
        $('textarea').on('input', function () {
            this.style.height = "";
            this.style.height = this.scrollHeight + "px";
        });
        $(document).on("click", "#selectAlbum", function () {
            renderImage("", true, "#albumPreview");
        });
        $(document).on("click", "#btnUpdate", function () {
            var inputSetting = [];
            var inputSlider = [];
            $(".setting-input").each(function (e, index) {
                var e = $(this);
                inputSetting.push({
                    Id: e.data("id"),
                    Title: e.find("input.title").first().val(),
                    Content: e.find("textarea.content").val(),
                    Image: e.find("input.image").val(),
                    Link: e.find("input.link").val()
                })
            })
            $("#albumPreview input").each(function () {
                var e = $(this);
                inputSlider.push({
                    Image: e.val()
                })
            })
            $.ajax({
                method: "POST",
                dataType: "json",
                url: "/Admin/Setting/UpdateSetting",
                data: {
                    setting: inputSetting,
                    slider: inputSlider
                },
                beforeSend: function () {
                    loadSpinner();
                },
                success: function (response) {
                    Swal.fire(
                        'Thành công!',
                        'Trang chủ đã được cập nhật',
                        'success'
                    )
                    exitSpinner();
                },
                error: function (response) {
                    Swal.fire(
                        'Thất bại!',
                        response.responseJSON[0].ErrorMessage,
                        'error'
                    )
                    exitSpinner();
                }
            })
        })
    </script>
}